
.myheader {
    text-align: center;
    background-color: rgb(107, 140, 211)
    
}

.profilepic {
    border-radius: 50%;
}

#about{
    background-color: rgb(110, 226, 187)
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background: url(https://www.wallpapermaiden.com/wallpaper/14153/download/640x960/anime-boy-scenic-landscape-cityscape-night-stars-sky-light-sitting.jpg);
  /*height: 100px;*/
}

.item2 {
  background: url(https://www.wallpapermaiden.com/wallpaper/14153/download/640x960/anime-boy-scenic-landscape-cityscape-night-stars-sky-light-sitting.jpg);
  /*height: 100px;*/
}

.item3 {
  background: url(https://www.wallpapermaiden.com/wallpaper/14153/download/640x960/anime-boy-scenic-landscape-cityscape-night-stars-sky-light-sitting.jpg);
  /*height: 100px;*/
}
